.finalHeader {
    border-top: 3px black solid;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;

    .textoSociales {
        font-size: 60px;
        margin-bottom: 5px;
    }
    
    .textoInstagram {
        font-size: 50px;
        display: inline-block;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .instagram {
        width: 80px;
        cursor: pointer;
        display: flex;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.formulario {
    display: flex;
    border: 3px solid black;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-block: 10px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-content: center;

    .btnEnviar {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .btnBorrar {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .nombre {
        margin-top: 5px;
        margin-left: 5px;
    }

    .btnEnviar:hover {
        background-color: black;
        color: white;
    }
    
    .btnBorrar:hover {
        background-color: black;
        color: white;
    }
}