header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;

    .btnIniciarSesion {
        border-color: black;
        color: black;
        background-color: white;
        text-transform: uppercase;
    }

    .iniciarSesion {
        display: inline-block;
        padding: 8px 16px;
        border: 3px black solid;
        border-radius: 0px;
        background-color: white;
    }
    
    a {
        @include anclas;
    }
    
    .logo {
        width: 180px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
    }

    .btnIniciarSesion:hover {
        background-color: black;
    }

    .menuNav {
        padding: 8px 16px;
        background-color: white;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .contenedorBuscar {
        margin-top: 10px;

        .barraBuscar {
            width: 100px;
        }

        .btnBuscar {
            border-color: black;
            color: black;
            background-color: white;
            text-transform: uppercase;
        }

        .btnBuscar:hover {
            background-color: black;
        }    
    }

}
