main {
    .contenedorNosotros {
        display: flex;
        border: 1px solid white;
        border-radius: 0px;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-block: 10px;
        justify-content: center;
        align-content: center;

        p {
            text-align: center;
        }
}
}